<h2>Add a song to the music wall</h2>

<form method='post' action='/'>
  <div>
    <label>Song Title</label>
    <input type='text' name='title'>
  </div>
  <div>
    <label>Artist Name</label>
    <input type='text' name='author'>
  </div>
  <div>
    <label>Song URL (optional)</label>
    <input type='text' name='url'>
  </div>
  <button>Submit</button>
</form>