<div class='form-wrapper'>
  <% if @song && @song.errors.any? %>
  <p>Submission failed for the following reasons:</p>
  <ul>
    <% @song.errors.full_messages.each do |message| %>
    <li><%= message%></li>
    <% end %>
  </ul>
  <% end %>

  <h3>Add a song to the music wall</h3>

  <form method='post' action='/'>
    <div class='form-group'>
      <label for='formTitle'>Song Title</label>
      <input id='formTitle' class='form-control' type='text' name='title' value='<%= @song && @song.title %>'>
    </div>
    <div class='form-group'>
      <label for='formAuthor' >Artist Name</label>
      <input id='formAuthor' class='form-control' type='text' name='author' value='<%= @song && @song.author %>'>
    </div>
    <div class='form-group'>
      <label for='formURL'>Song URL (optional)</label>
      <input id='formURL' class='form-control' type='text' name='url' value='<%= @song && @song.url %>'>
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
  
</div>