#main, .navbar > .container-fluid {
  max-width: 500px;
}

.navbar-header {
  width: 100%;

  .btn {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .navbar-right {
    margin-right: 0;
    float: right;
  }
}

.intro {
  text-align: center;

  h1 {
    margin-top: 1rem;
  }

  a {
    margin-top: 1.5rem;
  }
}

.list-group-songs {
  margin: 2rem auto 0;

  .glyphicon-circle-arrow-up {
    font-size: 24px;
  }

  .badge {
    font-size: 16px;
  }
}

.form-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.upvote-wrapper {
  display: inline-block;
}