<div class='form-wrapper'>

  <h3>Music Wall</h3>

  <form method='post' action='/'>
    <div class='form-group'>
      <label for='formEmail'>Email</label>
      <input id='formEmail' class='form-control' type='text' name='email' value=''>
    </div>
    <div class='form-group'>
      <label for='formPassword'>Password</label>
      <input id='formPassword' class='form-control' type='text' name='password' value=''>
    </div>
    
    <button type='submit' class='btn btn-primary'>Sign In</button>
    <a class='btn btn-link' href='/'>Create an account</a>
  </form>
  
</div>