<div class='intro'>
  <h1><small>The Interwebz</small></h1>
  <h1>Community Music Wall</h1>
  <a class='btn btn-primary' href='/new' >Add song</a>
</div>

<% @songs.each do |song| %>
<h3><%= song.title%> by <%= song.author%></h3>
<a href='<%= song.url%>'><%= song.url%></a>
<div>___</div>
<% end %>