<div class='intro'>
  <h1><small>The Interwebz</small></h1>
  <h1>Community Music Wall</h1>
  <a class='btn btn-primary' href='/new'>Add song</a>
</div>

<ul class='list-group list-group-songs'>
  <% @songs.each do |song| %>
  <li class='list-group-item'>
    <% if song.url && !song.url.empty? %><a class='badge' href='<%= song.url%>'>Listen</a><% end %>
    <%= song.title%> - <%= song.author%> 
  </li>
  <% end %>
</ul>