<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

  <% @user = User.find_by(id: session['user_id']) %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">MusicWall</a>
        <% if @user %>
          <a href='/signout' class="btn btn-default navbar-btn navbar-right">Sign out</a>
          <p class='navbar-text navbar-right'>Signed in with <%= @user.email%></p>
        <% else %>
        <a href='/create-account' class="btn btn-primary navbar-btn navbar-right">Sign Up</a>
        <a href='/login' class="btn btn-link navbar-btn navbar-right">Log in</a>
        <% end %>
      </div>
    </div>
  </nav>

  <div id='main' class='container-fluid'>
    <%= yield %>
  </div>
</body>
</html>
