<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <!-- <ul class='navbar-right'> -->
        <a href='/login' class="btn btn-primary navbar-btn navbar-right">Sign in</a>
        <a class='btn btn-default navbar-right' href='/new'>Add song</a>
      <!-- </ul> -->
      </div>
    </div>
  </nav>

  <div id='main' class='container-fluid'>
    <%= yield %>
    <br>
    <p>Current user: <%= session['user_id']%></p>
  </div>
</body>
</html>
